.cart {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding: 10px;
}
.all {
  border: 10px solid;
  border-radius: 10px;
  border-color: antiquewhite;
  display: flex;
  justify-content: center;
  margin-left: 400px;
  margin-right: 400px;
  margin-top: 300px;
}
.free button {
  background-color: blueviolet;
  padding: 10px;
  border-radius: 10px;
}
.standard button {
  background-color: rgb(241, 240, 140);
  padding: 10px;
  border-radius: 10px;
}
.premium button {
  background-color: rgb(43, 226, 83);
  padding: 10px;
  border-radius: 10px;
}
body {
  background: linear-gradient(100deg, rgb(165, 202, 173), rgb(43, 226, 83));
}
